@charset "UTF-8";
*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* конец обнуляющего стиля */
body {
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 613px;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69B9FF;
}

.header__link--blue {
  font-size: 15px;
  line-height: 20px;
  color: #0082F3;
}

.header__link {
  font-size: 15px;
  line-height: 20px;
  color: #676770;
}

.header__inner {
  background-image: url(../../sourse/lavra.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 800px;
}

.header__title {
  padding-top: 304px;
  font-size: 59px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 106px;
}

.header__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__info-item {
  font-size: 36px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 10px;
  margin-left: 50px;
}

.header__info-link {
  color: white;
}

.info-item {
  margin-right: 20px;
}

.what__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
