/*
паддинги для отступов от краев(верхний - экрана, нижний- элемента)
aic - для центрирования по горизонтали*/

.header__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// wrap для переноса на след.строку(для это же же меню ширина 100%
.header__up {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #FFFFFF;
}

.menu {
    width: 100%;
}

.header__tel-link {
    margin-left: 19px;
    padding: 13px 31px;
    background-color: #886239;
    border-radius: 40px;
}