@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* конец обнуляющего стиля */
/*
паддинги для отступов от краев(верхний - экрана, нижний- элемента)
aic - для центрирования по горизонтали*/
a {
  text-decoration: none;
  color: inherit;
}

.header__inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFFFFF;
  padding: 16px 0 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  width: 100%;
}

.header__tel-link {
  margin-left: 19px;
  padding: 13px 31px;
  background-color: #886239;
  border-radius: 22px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding: 27px 0 24px;
}

.logo {
  margin-bottom: 15px;
}

.menu__link {
  font-size: 16px;
}

.link-shadow {
  text-shadow: 0px 4px 4px #000000;
}

/*Общие правила: 
1. при добавлении картинки чтобы задать ей всю высоты страницы используют min-height:100vh
1.2. так же картинке прописывается no-repeat, когда она - фон
1.3. центрируем картинку bg-position: top center
1.4. и "растягиваем картинку bg-size: cover
*/
body {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #1F1E1E;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}

.header {
  background-image: url(/img/fon.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* max-width используется для адаптива дальнейшего
маргин 0 авто - центрирование, паддинги так же для адаптива,чтобы не прижимался контент к краю
 после добавления паддингов надо увеличить max-width */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__title {
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  margin-bottom: auto;
}

.header__description {
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  max-width: 422px;
  margin-bottom: 20px;
}

.header__btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 19px 55px 20px 54px;
  background-color: #886239;
  border-radius: 30px;
  margin-bottom: 20px;
}

.header__arrow {
  text-align: center;
}

.country {
  padding: 100px 0px;
}

.country__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.country__text {
  border: 1px solid #D9D9DE;
  border-top: none;
  padding: 12px 19px 19px;
}

.direction {
  background: url(/img/fondirection.png);
  background-color: #886239;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  padding: 32px 0px 51px;
}

.direction__header {
  color: #FFFFFF;
  margin-bottom: 52px;
}

.direction__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 53px 67px;
}

.direction__img {
  margin-bottom: 15px;
}

.direction__text {
  color: #FFFFFF;
  line-height: 21px;
}

.offers {
  padding: 100px 0px;
}

.offers__header {
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 40px;
}

.offers__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 32px;
  padding-bottom: 82px;
  border-bottom: 1px solid #D9D9DE;
}

.offers__link {
  color: #FFFFFF;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 16px 24px 19px;
  min-height: 256px;
}

.offers__link:nth-child(3),
.offers__link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.offers__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 15px;
}

.offers__title--big {
  font-size: 24px;
}

.offers__price {
  font-weight: 700;
  margin-top: auto;
}

.offers__country,
.offers__time {
  margin-bottom: 15px;
}

.map {
  padding-bottom: 100px;
}

.map__header {
  margin-bottom: 46px;
}

.about-safari {
  padding-bottom: 100px;
}

.about-safari__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 448px 640px;
      grid-template-columns: 448px 640px;
  grid-gap: 32px;
}

.about-safari__header {
  text-align: left;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 25px;
}

.about-safari__text {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 34px;
}

.about-safari__read {
  color: #C4C4C4;
  text-decoration: underline;
}

.about-safari__video {
  background: url(/img/video.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallary {
  background-color: #886239;
  padding: 49px 0px 106px;
  color: #FFFFFF;
}

.gallary__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  padding-right: 160px;
}

.galary__item-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

.gallary__enter {
  text-decoration: underline;
}

.slick-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -85px;
  right: 0;
}

.slick-prev {
  right: 60px;
}
